body{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    margin:10px 10px;
}

td{
  text-align: center;
}

.negativeCell{
  background-color: #ffd6cc;
  color: white;
}

.positiveCell{
  background-color: #b3e6b3;
  color: white;
}

.priority-High{
  background-color: #ff4d4d;
  color: white;
}

.priority-Moderate{
  background-color: #ff9980;
  color: white;
}

.priority-Low{
  background-color: #ffd6cc;
  color: white;
}

.buttons{
  visibility: hidden;
}

.options{
  margin-bottom: 8px; 
}

#survey-container hr {
  width: 80%;
}

label{
  font-weight: normal;
}

.container{
  padding-right: 0; 
  padding-left: 0; 
  margin-right: auto;
  margin-left: auto;
}

.d-none{
  display: none;
}

.logo{
  margin: 10px 0;
}

.logo img{
  width: 35%;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}